section{
    width: 300px;
    height: 350px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.452);
    margin: 2%;
    border-radius: 30px;
    padding: 15px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
