<!DOCTYPE html>
<html lang="en">
<%- include('layout/head')%>
<body>
    <%- include('layout/header')%>
    <main>
        <p> not found page</p>
    </main>
    <%- include('layout/footer')%>
</body>
</html>