<header>
    <h1>Test</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/character/my-fav-characters">Favorite characters</a></li>
            <li><a href="/characters">Create character</a></li>
            <li><a href="/characters/my-characters">My characters</a></li>
        </ul>
    </nav>
</header>